*{
    font-family: 'Fredoka', sans-serif;
}
.card {
    position: fixed;
    top: 80px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 10px;
  }
  
  .card-header {
    background-color: #333;
    padding: 16px;
    text-align: center;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-body {
    padding: 14px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    padding: 12px 24px;
    margin-left: 13px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer
  }
  
  .btn:hover {
    background-color: #ccc;
    color: #333;
  }

.list-users{
    top: 0px;
    border-left: 1px solid black;
    width: 850px;
    height: 630px;
    position: fixed;
    left: 500px;
}

.list-users .list-user-table .table-style{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    position: fixed;
    right: 300px;
}

.list-users .list-user-table .table-style thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.list-users .list-user-table .table-style th,
.list-users .list-user-table .table-style td{
    padding: 12px 15px;
}

.list-users .list-user-table .table-style tbody{
    border-bottom: 1px solid #dddddd;
}

.list-users .list-user-table .table-style tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.list-users .list-user-table .table-style tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.list-users .list-user-table .table-style tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}



