* {
    font-family: "Poppins, sans-serif";
}
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 70px;
}

.bg-custom-blue {
    background-color: #428fb6;
}

.container {
    max-width: 900px;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.status-in {
    background-color: #48bb78;
    color: #fff;
}

.status-out {
    background-color: #f56565;
    color: #fff;
}

.print-container {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

.print-container * {
    visibility: visible !important;
    opacity: 1 !important;
}

.print-container .top-bar,
.print-container .print-button {
    display: none !important;
}

@media print {
    tr.bg-gray-700 th {
        background-color: #718096 !important;
        color: #fff !important;
    }
}
